/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 32, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 37, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1em;
}

/* line 44, ../sass/screen.scss */
h1 {
  font-size: 1.7em;
}

/* line 45, ../sass/screen.scss */
h2 {
  font-size: 1.4em;
}

/* line 46, ../sass/screen.scss */
h3 {
  font-size: 1.2em;
}

/* line 47, ../sass/screen.scss */
h4 {
  font-size: 1em;
}

/* line 48, ../sass/screen.scss */
h5 {
  font-size: 0.9em;
}

/* line 49, ../sass/screen.scss */
h6 {
  font-size: 0.8em;
}

/* line 51, ../sass/screen.scss */
p, a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

/* line 53, ../sass/screen.scss */
p {
  margin-bottom: 1em;
  line-height: 2em;
  letter-spacing: 1px;
}

/* line 59, ../sass/screen.scss */
a {
  color: white;
  text-decoration: none;
}
/* line 63, ../sass/screen.scss */
a:visited, a:active, a:hover {
  color: white;
}

/* line 68, ../sass/screen.scss */
.button {
  padding: 1em 2em;
  border: 1px solid white;
  margin: 0.2em;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 5px;
  background: #333333;
}
/* line 78, ../sass/screen.scss */
.button:hover {
  background: #4d4d4d;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

/* line 89, ../sass/screen.scss */
body {
  background: #202020;
  margin: 0 auto;
  color: white;
}

/* line 95, ../sass/screen.scss */
.wide {
  width: 100%;
}

/* line 99, ../sass/screen.scss */
.inner {
  margin: 0 auto;
  max-width: 1600px;
}

/* line 107, ../sass/screen.scss */
header {
  height: 100%;
}
/* line 110, ../sass/screen.scss */
header.project {
  height: 50%;
}
/* line 114, ../sass/screen.scss */
header .inner {
  height: 100%;
  background: #333333;
}

/* line 123, ../sass/screen.scss */
.introtext {
  position: relative;
  width: 90%;
  margin: 0 auto;
  top: 40%;
  text-align: center;
  clear: both;
}
/* line 131, ../sass/screen.scss */
.introtext h1 {
  margin-bottom: 0.2em;
}
/* line 135, ../sass/screen.scss */
.introtext .introbuttons {
  margin: 2em 0 0 0;
}

/* line 140, ../sass/screen.scss */
.tagline {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 3em;
}

/* line 150, ../sass/screen.scss */
.about {
  text-align: center;
}
/* line 153, ../sass/screen.scss */
.about .inner {
  background: #2b2b2b;
  width: 100%;
  padding: 5em 0;
}
/* line 159, ../sass/screen.scss */
.about p {
  margin: 0 auto;
  max-width: 80%;
}
@media screen and (min-width: 768px) {
  /* line 159, ../sass/screen.scss */
  .about p {
    max-width: 700px;
  }
}
@media screen and (min-width: 900px) {
  /* line 159, ../sass/screen.scss */
  .about p {
    max-width: 800px;
  }
}

/* line 175, ../sass/screen.scss */
.grid {
  overflow: hidden;
  position: relative;
}

/* line 180, ../sass/screen.scss */
.griditem {
  float: left;
  height: 240px;
  width: 100%;
  text-align: center;
  line-height: 240px;
}
@media screen and (min-width: 768px) {
  /* line 180, ../sass/screen.scss */
  .griditem {
    width: 50%;
  }
}
/* line 191, ../sass/screen.scss */
.griditem:hover {
  background: darken #333333, 10%;
}
/* line 195, ../sass/screen.scss */
.griditem .button {
  margin: 0 auto;
  vertical-align: middle;
}
/* line 199, ../sass/screen.scss */
.griditem .button:hover {
  background: #4d4d4d;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
}
/* line 206, ../sass/screen.scss */
.griditem.sot {
  background: url(../img/sot.png) center center no-repeat;
}
/* line 207, ../sass/screen.scss */
.griditem.ct {
  background: url(../img/ct.png) center center no-repeat;
}
/* line 208, ../sass/screen.scss */
.griditem.aia {
  background: url(../img/aia.png) center center no-repeat;
}
/* line 209, ../sass/screen.scss */
.griditem.edf {
  background: url(../img/edf.png) center center no-repeat;
}
/* line 210, ../sass/screen.scss */
.griditem.linets {
  background: url(../img/linets.png) center center no-repeat;
}
/* line 211, ../sass/screen.scss */
.griditem.ar {
  background: url(../img/ar.png) center center no-repeat;
}
/* line 212, ../sass/screen.scss */
.griditem.thp {
  background: url(../img/thp.png) center center no-repeat;
}
/* line 213, ../sass/screen.scss */
.griditem.rp {
  background: url(../img/rp.png) center center no-repeat;
}

/* line 219, ../sass/screen.scss */
nav {
  height: 4em;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  /* line 219, ../sass/screen.scss */
  nav {
    height: 5em;
  }
}
/* line 228, ../sass/screen.scss */
nav .inner, nav ul {
  overflow: hidden;
}
/* line 232, ../sass/screen.scss */
nav ul {
  width: 12em;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  /* line 232, ../sass/screen.scss */
  nav ul {
    width: 15em;
  }
}
/* line 240, ../sass/screen.scss */
nav ul li {
  display: inline-block;
  width: 4em;
  float: left;
}
@media screen and (min-width: 768px) {
  /* line 240, ../sass/screen.scss */
  nav ul li {
    width: 5em;
  }
}
/* line 249, ../sass/screen.scss */
nav ul li a {
  text-indent: -9999px;
  display: block;
  padding: 5% 0;
  height: 4em;
  border-right: 1px solid #363636;
}
/* line 256, ../sass/screen.scss */
nav ul li a:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
/* line 260, ../sass/screen.scss */
nav ul li a.prev {
  background: url(../img/arrow_left.svg) center center no-repeat;
  background-size: 30%;
}
/* line 264, ../sass/screen.scss */
nav ul li a.prev:hover {
  background: #404040 url(../img/arrow_left.svg) center center no-repeat;
  background-size: 30%;
}
/* line 269, ../sass/screen.scss */
nav ul li a.next {
  background: url(../img/arrow_right.svg) center center no-repeat;
  background-size: 30%;
}
/* line 273, ../sass/screen.scss */
nav ul li a.next:hover {
  background: #404040 url(../img/arrow_right.svg) center center no-repeat;
  background-size: 30%;
}
/* line 278, ../sass/screen.scss */
nav ul li a.grid {
  background: url(../img/grid.svg) center center no-repeat;
  background-size: 30%;
}
/* line 282, ../sass/screen.scss */
nav ul li a.grid:hover {
  background: #404040 url(../img/grid.svg) center center no-repeat;
  background-size: 30%;
}

/* line 294, ../sass/screen.scss */
.content {
  position: relative;
  text-align: center;
  margin: 6em 0;
}
/* line 299, ../sass/screen.scss */
.content img {
  margin: 0 0 4em 0;
  width: 90%;
}
@media screen and (min-width: 768px) {
  /* line 299, ../sass/screen.scss */
  .content img {
    max-width: 1200px;
  }
}

/* line 314, ../sass/screen.scss */
footer .inner {
  background: #262626;
}
/* line 318, ../sass/screen.scss */
footer .social {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 318, ../sass/screen.scss */
  footer .social {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 318, ../sass/screen.scss */
  footer .social {
    width: 65%;
  }
}
/* line 331, ../sass/screen.scss */
footer a {
  width: 12.2%;
  padding: 5% 0;
  text-indent: -9999px;
  float: left;
  background: #333333;
  border-right: 1px solid #363636;
}
@media screen and (min-width: 768px) {
  /* line 331, ../sass/screen.scss */
  footer a {
    width: 10.7%;
    padding: 4% 0;
  }
}
@media screen and (min-width: 1024px) {
  /* line 331, ../sass/screen.scss */
  footer a {
    padding: 4.5% 0;
  }
}
/* line 348, ../sass/screen.scss */
footer a:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
/* line 352, ../sass/screen.scss */
footer a.email {
  background: url(../img/email.svg) center center no-repeat;
  background-size: 35%;
  border-left: 1px solid #363636;
}
/* line 357, ../sass/screen.scss */
footer a.email:hover {
  background: #aad450 url(../img/email.svg) center center no-repeat;
  background-size: 35%;
}
/* line 362, ../sass/screen.scss */
footer a.twitter {
  background: url(../img/twitter.svg) center center no-repeat;
  background-size: 35%;
}
/* line 366, ../sass/screen.scss */
footer a.twitter:hover {
  background: #00aced url(../img/twitter.svg) center center no-repeat;
  background-size: 35%;
}
/* line 371, ../sass/screen.scss */
footer a.instagram {
  background: url(../img/instagram.svg) center center no-repeat;
  background-size: 30%;
}
/* line 375, ../sass/screen.scss */
footer a.instagram:hover {
  background: #517fa4 url(../img/instagram.svg) center center no-repeat;
  background-size: 30%;
}
/* line 380, ../sass/screen.scss */
footer a.pinterest {
  background: url(../img/pinterest.svg) center center no-repeat;
  background-size: 30%;
}
/* line 384, ../sass/screen.scss */
footer a.pinterest:hover {
  background: #cb2027 url(../img/pinterest.svg) center center no-repeat;
  background-size: 30%;
}
/* line 389, ../sass/screen.scss */
footer a.dribbble {
  background: url(../img/dribbble.svg) center center no-repeat;
  background-size: 30%;
}
/* line 393, ../sass/screen.scss */
footer a.dribbble:hover {
  background: #c73b6f url(../img/dribbble.svg) center center no-repeat;
  background-size: 30%;
}
/* line 398, ../sass/screen.scss */
footer a.flickr {
  background: url(../img/flickr.svg) center center no-repeat;
  background-size: 40%;
}
/* line 402, ../sass/screen.scss */
footer a.flickr:hover {
  background: #0063dc url(../img/flickr.svg) center center no-repeat;
  background-size: 40%;
}
/* line 407, ../sass/screen.scss */
footer a.tumblr {
  background: url(../img/tumblr.svg) center center no-repeat;
  background-size: 30%;
}
/* line 411, ../sass/screen.scss */
footer a.tumblr:hover {
  background: #32506d url(../img/tumblr.svg) center center no-repeat;
  background-size: 30%;
}
/* line 417, ../sass/screen.scss */
footer a.btt {
  background: url(../img/btt.svg) center 45% no-repeat;
  background-size: 35%;
  margin-top: 0.2em;
}
@media screen and (min-width: 768px) {
  /* line 417, ../sass/screen.scss */
  footer a.btt {
    width: 16%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    text-indent: 0;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    background: url(../img/btt.svg) 85% 50% no-repeat;
    background-size: 12%;
  }
}
/* line 437, ../sass/screen.scss */
footer .copyright {
  background: #1a1a1a;
  padding: 1.8em 0 1em;
}
/* line 441, ../sass/screen.scss */
footer .copyright p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.7em;
}
